h1{
    text-align: left;
}

header{
    padding: 20px 0;
}

.headerItems{
    border: 4px solid #000;
    position: relative;
    display: inline;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
  
}