h1{
    color: #3c1616;
    text-align: left;
}

li{
    padding: 10px 10px;
}

body{
    color: #3c1616;
    font-family: 'Goldman', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: inline;
    color: #3c1616;
    padding: 10px 0;
}
header .row{
    align-items: center;
    display: flex;
}

header h1{
    padding: 0 20px;
}

#upTop{
    font-size: 60px;
    padding-left: 40px;
}


.headerItems{
    color:#3c1616;
    border: 4px solid #3c1616;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    font-size: 22px;
    text-align: center;
    margin: 5px 5px 5px 5px;
 
}

.headerItems a{
    text-decoration: none;
    color: #3c1616;
}

.jumbotron{
    display: flex;
    align-items: center;
    background-image: url(AirplaneWingPhoto.jpg);
    background-size: cover;
    color: #3c1616;
    height: 1200px;
}   

.jumbotron h2{
    font-size: 100px;
    font-weight: 700;
}

.jumbotron h3{
    font-size: 50px;
    font-weight: 350;
}

.imageText{
    display: inline-block;
    vertical-align: top;
}

.keyText{
    display: inline-block;
    vertical-align: top;
}

#reliefZone{
    color: green;
}

#natureZone{
    color: rgb(129, 119, 10);
}

#animalFood{
    color: rgb(160, 15, 15);
}

#refreshmentZone{
    color: rgb(11, 11, 141);
}

#diagramText{
    display: flex;
    vertical-align: top;
}
